* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-primary: rgba(101,175,191,1);
    --color-secondary: rgba(242,217,141,1);
    --border-color: #666;
}

#game-canvas {
    border: 4px var(--border-color) solid;
    border-radius: 10px;
}

.main {
    text-align: center;
    height: 100vh;
    background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}

.canvas-container {
    margin-top: 5%;
    display: inline-block;
}

.score-counter {
    font-size: 6vh;
    text-align: center;
    color: #666;
}

.score-counter-container {
    padding-top: 5%;
}

.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(180deg, rgba(101,175,191,1) 0%, rgba(242,217,141,1) 100%);
    box-shadow: 5px 5px 5px #555;
    opacity: 0.8;
    padding: 20px;
    border: var(--border-color) 2px solid;
    border-radius: 10px;
    display: none;
    color: var(--border-color);
    font-size: 2.5vh;
}

.restart-button {
    padding: 2vh 4vh;
    margin: 2vh;
}

#game-over-text {
    font-size: 5vh;
    margin: 1vh;
}